<% @followings.each do |following| %>
<div class="followings">
<li id="following-<%= following.id %>">
<%= link_to gravatar_for(following, size: 50), following %>
    <span class="name">
<%= link_to following.name, user_path(following.id) %>
    </span>
    <span class="location">
Location: <%= following.location %><br><br>
    </span>
    </li>
<% end %>

</div>